@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .logo {
        height: 8px;
    }
    .navbar a {
        padding: 5px 0;
        margin: 0px 10px;
    }
    .logbtn {
       text-overflow: unset;
    }
    .trybtn{
        height: 40px;
        width: 8rem;
        padding: 5px 10px;
    }
    .img1{
        display: none;
    }
   
}

@media (max-width: 1090px){
    #micon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: #f6f4f4;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all 0.50s ease;
    }
    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all 0.50s ease;
    }
    .navbar a:hover{
        color: #0065FE;
        transform: translateY(5px);
    }
    .navbar.open{
        right: 2%;
    }
}

@media only screen and (max-width: 768px){
    header{
        padding: 10px 2%;
        transition: .2s;
    }
    .logo {
        height: 6px;
    }
    .navbar a {
        padding: 5px 0;
        margin: 0px 10px;
    }
    .logbtn {
       text-overflow: unset;
    }
    .trybtn{
        height: 30px;
        width: 6rem;
        padding: 3px 8px;
    }
    .main > h1 {
        font-size: 30px;
        line-height: 40px;
        word-spacing: 2px;
    }
    .rect {
       display: none;
    }
    .mirror {
        display: none;
    }
    
    .card {
        flex-wrap: wrap;
    }
   
    .cards1 {
       
        margin-left: 100px;
        
        justify-content: space-evenly; 
    }
    .text02{
        font-size: 12px;
    }
     
    .cont4{ 
        margin-left: 20px;
        margin-right: 20px;
    }
    
   
    .cont8 {
        width: 170px;
        padding: 0 15px; 
        
    }
    
    .foot2 {
        
       margin-top: -200px;
    }
    
    
    
        
}



@media only screen and (max-width: 427px){
    
    
    
    .red{
        width: 40px;
    }
    #line {
        margin-bottom: 15px;
     }
    .content {
        font-size: 12px;
    }
    .rect {
        display: none;
    }
    .mirror {
        display: none;
    }
    
    .text01 {
        margin-left: 20px;
        font-size: 15px;
        line-height: 40px;
    }
   
    .cards1 {
       
        margin-left: 50px;
        
    }
    .h2r{
        font-size: 20px;
    }
    .h2p{
      font-size: 12px;
    }
    .card2{
        width: 200px;
        padding: 20px;
        min-height: 250px;
        
    }
    .cards4{
        display: block;
       
    }
    .bttn4{
        margin-left: 1%;
        
    }
    .btnn4i{
        height: 20px;
        min-width: 60px;
        font-size: 12px;
    }
    .btnn4ii{
        height: 20px;
        min-width: 60px;
        font-size: 12px;
    }

    .cont8 {
        width: 100px;
        padding: 0 10px; 
        font-size: 12px;
    }
    
    .foot2 {
        
       margin-top: -150px;
    }
}

@media only screen and(max-width: 320px){
    .main > h1 {
        font-size: 2px;
        line-height: 10px;
        word-spacing: 2px;
    }
}